<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">apartment</i>
                      </div>
                      <p class="card-category">Team members in office</p>
                      <h3 class="card-title">25
                          <small></small>
                      </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">home</i>
                      </div>
                      <p class="card-category">Seats available to book</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons"> dangerous </i>
                      </div>
                      <p class="card-category">My Team</p>
                      <h3 class="card-title"></h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> From Calendar
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons"> fact_check </i>
                      </div>
                      <p class="card-category">Requests in Queue</p>
                      <h3 class="card-title">7</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          


          <div class="main-content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h3 class="card-title">Manage Seat</h3>
                    </div>

                        <!-- SeatBook Component -->
                    <div>
                        <div class="container-fluid">
                        <app-seatBook></app-seatBook>
                        </div>
                    </div>


                <!-- 
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title">Notifications Style</h4>
                                <div class="alert alert-info">
                                    <span>This is a plain notification</span>
                                </div>
                                <div class="alert alert-info">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>This is a notification with close button.</span>
                                </div>
                                <div class="alert alert-info alert-with-icon" data-notify="container">
                                    <i class="material-icons" data-notify="icon">add_alert</i>
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span data-notify="message">This is a notification with close button and icon.</span>
                                </div>
                                <div class="alert alert-info alert-with-icon" data-notify="container">
                                    <i class="material-icons" data-notify="icon">add_alert</i>
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Notification states</h4>
                                <div class="alert alert-info">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                                </div>
                                <div class="alert alert-success">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                                </div>
                                <div class="alert alert-warning">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                                </div>
                                <div class="alert alert-danger">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                                </div>
                                <div class="alert alert-primary">
                                    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <span>
                                        <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                </div>
            </div>
          </div>
          
      </div>
      
  </div>
</div>
